
[Desktop Entry]
Name=Slingscold
Comment=Lanzador de aplicaciones
Exec=slingscold
Icon=/usr/share/icons/slingscold.png
Type=Application
Categories=GNOME;GTK;Utility;
StartupNotify=false
